services:
  r4core8080:
    image: r4-saas-api-r4core8080
    container_name: r4core8080
    ports:
      - "8080:8080"

  r4core:
    image: pipavlo/r4-local-test:latest
    container_name: r4core
    environment:
      - API_KEY=demo
    ports:
      - "8081:8081"

  gateway:
    image: pipavlo/r4-saas-api:v0.1.2   # ← фіксована версія
    container_name: r4-saas-api-gateway-1
    environment:
      - PORT=8082
      - PUBLIC_API_KEY=demo
      - CORE_URL=http://r4core8080:8080
      - VRF_URL=http://r4core:8081
      - INTERNAL_R4_API_KEY=demo
    ports:
      - "8082:8082"
    depends_on:
      - r4core
      - r4core8080
